<div class="changelog">
<br/>
<h4>Changelog (v0.023 to v0.024):</h4>
<ul>
<li>Fixed max attenuation distance for sample player on different resolutions.</li>
<li>Disabled fullscreen option until gets properly fixed on all OSes.</li>
<li>Added a SFX for the slime jump.</li>
<li>Fixed linux build not allowing to change resolutions.</li>
<li>Resolution can only be changed from main menu.</li>
<li>Window resolution will be changed instantly now, no need to restart anymore.</li>
<li>Fixed issue with platforms and jumping.</li>
<li>Fixed issue with collisions and platforms.</li>
<li>Lava will kill you always, even if just hit by something else.</li>
<li>Added an option to change text speed.</li>
<li>Dialogs will show faster now by default, enter will now first show the full text and then skip it.</li>
<li>Fixed bug with jumping and damage throwback.</li>
<li>Fixed issue with continue on some areas.</li>
</ul>
<br/>
<h4>Changelog (v0.019 to v0.022):</h4>
<ul>
<li>Fixed vertical glitch with vertical platforms.</li>
<li>Fixed window resolution setting.</li>
<li>Enemies will re-spawn after 4 mins (of game time) and only the first kill adds points to the score.</li>
<li>Fixed bug with movement on horizontal platforms.</li>
<li>New game mechanic, Shawy can look up or down using the up/down controls, jump is now assigned to button b (x or k key).</li>
<li>Shawy will now lose air when under water, and after all the air is gone he will start losing health.</li>
<li>Improved text SFX.</li>
<li>Hearts will re-spawn after 2 mins of being taken.</li>
<li>Coin will no longer reappear when changing to previous areas if it was previously taken.</li>
<li>Implemented a new font for the HUD, "Micro Full 6x3" by russelleh.</li>
<li>New logo for main menu.</li>
<li>Implemented fade in/out effects.</li>
<li>Added a new level.</li>
<li>Added a dialog when the player is near the gate for a while.</li>
</ul>
</div>
