<div class="changelog">
<br/>
<h4>v0.045:</h4>
<ul>
<li>Fixed possible crash at exit.</li>
</ul>
<h4>v0.044:</h4>
<ul>
<li>Fixed issue with text cutscenes and movement.</li>
<li>Started implementing the third phase of the new boss.</li>
<li>Dev mode improvements.</li>
<li>Fixed issues with wip area.</li>
<li>Yet more work on the first two phases of the new boss.</li>
<li>More improvements on the first two phases of the new boss, work in progress.</li>
<li>Shawy can't lose air when god mode is enabled.</li>
<li>More work on the new boss.</li>
<li>Improvements on the laser beam spell for the new boss.</li>
<li>Early work on the second boss.</li>
<li>Main dialog can dynamically change the width of the dialog box when the text is short.</li>
</ul>
<h4>v0.043:</h4>
<ul>
<li>Max air is now affected by the baseHP.</li>
<li>Improved hit timer code.</li>
<li>Renamed difficulty modes to: Normal, Hard and Hardcore.</li>
<li>Fixed issue with Venomteeth not spawning anymore :P.</li>
<li>Implemented a camera shake effect when the sea mine explodes.</li>
<li>Few improvements on the level design of the Venomteeth Nest area.</li>
<li>Loading a saved game with sacred stones will change the baseHP correctly now.</li>
<li>Fixed Venomteeth being able to spawn again after being killed.</li>
<li>Fixed lever object being able to be switched again after loading a saved game.</li>
<li>Added a visual effect for the sea mine when the player is near it.</li>
<li>Design improvements on the new area.</li>
<li>Default clear color now defaults to a lighter color and added a background layer with a darker one.</li>
<li>Re-colored a bit the water tiles with the waves with a lighter tone.</li>
<li>Finished implementing the sea mine code.</li>
<li>Added WIP sea mine trap.</li>
<li>Updated sea horse hp to 2.</li>
<li>Prevent starting a cut-scene when enemies are close.</li>
<li>Cave Entrance texts are now shown after killing a bat.</li>
<li>Added event texts for the bifurcation area (texts by JC Noir).</li>
<li>Fixed joysticks not working properly.</li>
<li>Added a new enemy for the new area, the sea horse.</li>
<li>More level design on the new area.</li>
<li>Added a Pixel Perfect option on the settings screen.</li>
<li>Added a key mapping for taking a screenshot, defaults to zero.</li>
<li>Code cleanup.</li>
<li>Animated tiles use now a shader for better performance.</li>
<li>Fixed issue with window scale code on some devices.</li>
<li>Fullscreen code cleanup.</li>
<li>Enabled fullscreen option on the settings screen for Windows build.</li>
<li>Added a color mode picker screen when the user starts the game for the first time.</li>
<li>Area name is now shown when entering a new area and on the full map screen.</li>
</ul>
<h4>v0.042:</h4>
<ul>
<li>More jellyfish AI improvements.</li>
<li>Added story texts for the lava corridor and the lava and water areas too (contributed by JC Noir).</li>
<li>Fixed bug with pressing Esc on the continue screen (thanks JC Noir for reporting), and also added a Yes/No selection on that screen.</li>
<li>Fixed touch buttons being on top of the new area dialogs.</li>
<li>Improvements on the credits menu screen.</li>
<li>More work on the new area.</li>
<li>Fixed some unreachable coins on the Venomteeth Nest area.</li>
<li>Fixed platform lever object not working fine with paths with horizontal movement.</li>
<li>Shawy regains air faster when he is not on water.</li>
<li>Added a few additional story texts for the mountain and cave entrance areas (contributed by JC Noir).</li>
<li>Added a few more idle jokes (thanks John Ingemi and Graham Brown).</li>
<li>More work on the new area.</li>
<li>Added a note on the language setting to tell the player that the change requires restart.</li>
<li>Shawy doesn't get collision damage from enemies when he has just hit them.</li>
<li>Improvements on touch screen buttons.</li>
<li>Added some more idle jokes.</li>
<li>Fixed issue with air panel getting bugged.</li>
<li>Fixed issues with touch button positions.</li>
<li>Code cleanup.</li>
<li>Improvements on jellyfish AI.</li>
<li>Added a few new idle jokes.</li>
<li>Started working on a new area.</li>
<li>High-score crashfix.</li>
</ul>
<h4>v0.041:</h4>
<ul>
<li>Fixed hud message position.</li>
<li>Secret fixes ;).</li>
<li>Fixed touchscreen button positions.</li>
<li>Fixed cave sub level starting position.</li>
<li>Defaults to light green color mode.</li>
<li>Fixed Shawy main menu movement.</li>
<li>No need to hide the score anymore when showing the boss health.</li>
<li>Small fix to Venomteeth jump.</li>
<li>Fixed issue when the windowScale value on the saved settings is bigger than what the current screen can handle.</li>
<li>Improvements on Venomteeth boss fight.</li>
<li>Enlarged a bit the dialog box and improved the save area sprite.</li>
<li>Fixed game over and continue screen placements.</li>
<li>Fixed save game screen placement.</li>
<li>Fixed controls screen placement.</li>
<li>Fixed bug with extra spaces on high-score.</li>
<li>Improvements on the backgrounds.</li>
<li>Small correction with one of the tutorial messages.</li>
</ul>
<h4>v0.040:</h4>
<ul>
<li>Base resolution is now 228x128.</li>
<li>Recoloring some enemies.</li>
<li>Press Esc on the settings menu will now go back to the main menu, Esc on the main menu will quit the game.</li>
<li>Fixed bug that could make shawy end up in an unreachable place.</li>
<li>Language can be changed on the settings menu (requires restart).</li>
<li>Updates to translations.</li>
<li>Color mode can only be changed on the main menu.</li>
</ul>
<h4>v0.039:</h4>
<ul>
<li>Profile screen randomises a name at the start.</li>
<li>When completed achievements will show the description now.</li>
<li>Added a few improvements on the third sublevel area design.</li>
<li>More work on the third sublevel area music.</li>
<li>Mountain parallax now uses two layers as well.</li>
<li>AI improvements on the jellyfish enemy.</li>
<li>Improvements on the music for the third sublevel area.</li>
<li>Cave parallax now uses two layers.</li>
<li>Added sound effects for the arrow trap and when then worm burrows.</li>
<li>Added more work on the music for the third sublevel area.</li>
<li>Added yet another palette for the color modes.</li>
<li>Added a transition effect when picking the color mode.</li>
<li>Fixed some bugs with going back on some levels.</li>
</ul>
<h4>v0.038:</h4>
<ul>
<li>Added two more palettes to select.</li>
<li>Fixed achievements progress not being saved.</li>
<li>Started working on the jellyfish AI.</li>
<li>More design work on the third sublevel area and started adding its music theme.</li>
<li>More design improvements on the new areas.</li>
<li>Added a few more sound effects.</li>
<li>More work on the cave sublevel area music.</li>
<li>Fixed issue with lever_platform animation.</li>
<li>More work on the cave sublevel music.</li>
<li>More work on Cave Sublevel area music.</li>
<li>Fixes to high-score threading issues on quit.</li>
<li>Implemented a new lever that calls for the platform when the platform has a lever as well.</li>
<li>Re-worked the music for the cave sublevel area, still WIP.</li>
</ul>
<h4>v0.037:</h4>
<ul>
<li>Achievements can have a hint that shows on the achievement screen.</li>
<li>More level design on the third sublevel area.</li>
<li>Highscore code now runs on its own thread.</li>
<li>Fixed issue with Venomteeth music.</li>
<li>More design improvements on the cave sub level area.</li>
<li>Connected the cave sublevel area with the third sublevel area.</li>
<li>Re-worked music on Bifurcation, Lava and Water and Venomteeth Nest areas.</li>
<li>Added a sound effect when Shawy is low on air.</li>
<li>Added a sound effect for the piranha bite.</li>
<li>Re-worked some of the sound effects.</li>
<li>Re-worked the music from MainMenu, Mountain, Cave Entrance and Lava Corridor areas.</li>
<li>More work on achievements.</li>
<li>Implemented work in progress achievements.</li>
<li>More work on the third sub-level area design.</li>
<li>More design work on the new areas.</li>
<li>Fixed bug with doors on mini-map.</li>
<li>Design improvements on cave sublevel area.</li>
<li>Improvements on worm AI.</li>
<li>Worms can't be attacked while hidden.</li>
<li>Venomteeth now will drop one sacred stone on death.</li>
<li>Avoid tutorial dialogs when on dev mode.</li>
<li>Added new jellyfish enemy.</li>
</ul>
<h4>v0.036:</h4>
<ul>
<li>Added new eye enemy, its AI still needs some improvements.</li>
<li>Added new worm enemy sprite-sheet.</li>
<li>Improvements on fonts code to handle unicode characters.</li>
<li>Updated Text Interface Engine code.</li>
<li>Updates to translations.</li>
<li>Added a few new lines of dialog for Venomteeth and his minions.</li>
<li>Fixed bug with Venomteeth damage area.</li>
<li>Adjusted phase timers for Venomteeth, battle will be more dynamic now.</li>
<li>Work in progress boss music for Venomteeth fight.</li>
<li>Started working on yet another level, really basic design only.</li>
<li>Fixed high-score screen not working on the Android version.</li>
<li>More cave_sublevel design.</li>
</ul>
<h4>v0.035:</h4>
<ul>
<li>Improvements on the high-scores screen.</li>
<li>Added a notification message when the high-score is created/updated for the player.</li>
<li>Fixed bug with map going away when switching areas, and stuck in loading bug after continue countdown reached to zero (thanks cadox8 for reporting).</li>
</ul>
<h4>v0.034:</h4>
<ul>
<li>Older save-games are not compatible with this version.</li>
<li>Added a simple credits menu, will improve it later.</li>
<li>More level design on the new area.</li>
<li>Work in progress new platform type for the new area.</li>
<li>Enemies are allowed to sleep when they're far from the player, saves cpu :).</li>
<li>Shortened the death animations on the enemies.</li>
<li>Speeded up a little Shawy's attack animation.</li>
<li>Camera improvements, disabled drag for the x axis and lowered the drag margin on the y axis.</li>
<li>More work on the Venomteeth Nest music.</li>
<li>Improvements on Venomteeth Nest music track.</li>
<li>Started adding a new enemy for the new level.</li>
<li>Added an arrow trap on the new level.</li>
<li>UI improvements.</li>
<li>Fixed bug when globalstats.io doesn't replies with an access token.</li>
</ul>
<h4>v0.033:</h4>
<ul>
<li>Improved difficulty note position.</li>
<li>Improved note display on new game menu.</li>
<li>Fixed UI bug and also started working on a new level.</li>
<li>Added easy mode and modified difficulty modes as follows: Easy mode has halved damage and continue for 5 coins, Normal mode has full damage and continue for 10 coins, Hardcore mode has full damage and can't continue.</li>
<li>Leaderboard data is updated when the game starts.</li>
<li>Fixed bug with hiding touch buttons on cut-scenes.</li>
<li>User high-scores are pretty much working now, it needs some improvements and more testing though.</li>
<li>Added a user name input screen after the new game menu, the user name will be used for high-score purposes.</li>
<li>More WIP code for high-scores.</li>
<li>Started working on a high-score screen.</li>
</ul>
<h4>v0.032:</h4>
<ul>
<li>Added a few more save positions on some areas.</li>
<li>Fixed selection arrow position.</li>
<li>Cutscene can be skipped while the npc is moving now.</li>
<li>Small bug fix.</li>
<li>Escape skips cut scenes.</li>
<li>Hide controls and fullscreen/window settings on touch devices.</li>
<li>Mini-map can be toggled on android devices tapping the top right section of the screen.</li>
<li>Hud elements will be hidden on the intro scene.</li>
<li>Added tutorial dialogs for the map and the menu for android devices.</li>
<li>Adjusted music files volume.</li>
<li>Added a second save area on cave entrance and mountain areas.</li>
<li>Shawy will now explain how to use the mini map function if not used by the player.</li>
<li>Mini-map can be toggled with M and Tab, and it's configurable on the controls menu.</li>
<li>Small bug fix.</li>
<li>Adjusted volume for CaveTheme and MainMenu, WIP.</li>
</ul>
<br/>
<h4>v0.031:</h4>
<ul>
<li>Menu will now show a maximum options of 5, if there are more options (like on the settings or the controls menus) there will be shown up/down arrows to determine that the are more options.</li>
<li>Game can be saved now using the menu (Esc while in-game) when standing on a save area.</li>
<li>Implemented variable jump height for Shawy (jumps higher the longer you keep pressing jump).</li>
<li>More work on translations.</li>
<li>Show save areas on map as well.</li>
<li>Map revealed areas are now saved/loaded from disk and on changing area.</li>
<li>Full-map position is centered on the player when is shown.</li>
<li>More work on translations.</li>
<li>Music and SFX volume default to 50% when game is first launched.</li>
<li>Shawy can look up or down while walking too now.</li>
<li>Adjusted the size of the mini map.</li>
<li>Pickup objects fade faster.</li>
<li>Fixed performance issues with mini-map and fixed a few issues with fog.</li>
<li>Added a shader for the mini map to fix the opacity.</li>
</ul>
<br/>
<h4>v0.030:</h4>
<ul>
<li>Implemented map fog.</li>
<li>Map improvements, pickups are shown on map as well.</li>
<li>Enemies are also shown in maps.</li>
<li>Many improvements to the maps.</li>
<li>Started implementing a full map script.</li>
<li>Mini-map bug fix.</li>
<li>Mini map improvements.</li>
<li>WIP mini map.</li>
<li>Removed the collision shape for the save area object.</li>
<li>Fixed a few issues with venomteeth damage area.</li>
<li>Fixed small issue with boss gate.</li>
<li>Added a few improvements on how Venomteeth jumps back to his platform.</li>
<li>Improvements on mountain and cave entrance level design, better learning curve.</li>
</ul>
<br/>
<h4>v0.029:</h4>
<ul>
<li>Android release stuff.</li>
<li>Lowered a bit the opacity for the touch screen buttons.</li>
<li>Improved placing of touch screen buttons.</li>
<li>Enabled Venomteeth Nest area.</li>
<li>Updated default_clear_color to darkest tone.</li>
<li>Fixed loading issue with fullscreen devices.</li>
<li>Added touchscreen buttons support.</li>
<li>Fixed delay before fade out when objects are picked up.</li>
</ul>
<br/>
<h4>Changelog (v0.025 to v0.028):</h4>
<ul>
<li>New area to explore.</li>
<li>Controls can be changed now, max of two inputs per action.</li>
<li>Bats will stop pursuing shawy when he has gone far.</li>
<li>This is a secret commit ;).</li>
<li>Shawy can hold air a bit longer under water.</li>
<li>Design improvements on several areas.</li>
<li>Fixed bug with spider web spell.</li>
<li>Fixed player facing bug after changing areas.</li>
<li>Shawy will explain how to lookup or down if the player doesn't use those commands.</li>
<li>Older savegames are incompatible now.</li>
<li>Separated key mapping from ui keys to in-game keys.</li>
<li>Joystick buttons are now assignable on the controls menu.</li>
<li>Implemented a new sprite for the save area.</li>
<li>Improved and extended music themes on several areas.</li>
<li>If the windowScale is not set, use the highest possible based off the screen size.</li>
</ul>
<br/>
<h4>Changelog (v0.023 to v0.024):</h4>
<ul>
<li>Fixed max attenuation distance for sample player on different resolutions.</li>
<li>Disabled fullscreen option until gets properly fixed on all OSes.</li>
<li>Added a SFX for the slime jump.</li>
<li>Fixed linux build not allowing to change resolutions.</li>
<li>Resolution can only be changed from main menu.</li>
<li>Window resolution will be changed instantly now, no need to restart anymore.</li>
<li>Fixed issue with platforms and jumping.</li>
<li>Fixed issue with collisions and platforms.</li>
<li>Lava will kill you always, even if just hit by something else.</li>
<li>Added an option to change text speed.</li>
<li>Dialogs will show faster now by default, enter will now first show the full text and then skip it.</li>
<li>Fixed bug with jumping and damage throwback.</li>
<li>Fixed issue with continue on some areas.</li>
</ul>
<br/>
<h4>Changelog (v0.019 to v0.022):</h4>
<ul>
<li>Fixed vertical glitch with vertical platforms.</li>
<li>Fixed window resolution setting.</li>
<li>Enemies will re-spawn after 4 mins (of game time) and only the first kill adds points to the score.</li>
<li>Fixed bug with movement on horizontal platforms.</li>
<li>New game mechanic, Shawy can look up or down using the up/down controls, jump is now assigned to button b (x or k key).</li>
<li>Shawy will now lose air when under water, and after all the air is gone he will start losing health.</li>
<li>Improved text SFX.</li>
<li>Hearts will re-spawn after 2 mins of being taken.</li>
<li>Coin will no longer reappear when changing to previous areas if it was previously taken.</li>
<li>Implemented a new font for the HUD, "Micro Full 6x3" by russelleh.</li>
<li>New logo for main menu.</li>
<li>Implemented fade in/out effects.</li>
<li>Added a new level.</li>
<li>Added a dialog when the player is near the gate for a while.</li>
</ul>
</div>
