<div class="changelog">
<br/>
<h4>v0.039:</h4>
<ul>
<li>Profile screen randomises a name at the start.</li>
<li>When completed achievements will show the description now.</li>
<li>Added a few improvements on the third sublevel area design.</li>
<li>More work on the third sublevel area music.</li>
<li>Mountain parallax now uses two layers as well.</li>
<li>AI improvements on the jellyfish enemy.</li>
<li>Improvements on the music for the third sublevel area.</li>
<li>Cave parallax now uses two layers.</li>
<li>Added sound effects for the arrow trap and when then worm burrows.</li>
<li>Added more work on the music for the third sublevel area.</li>
<li>Added yet another palette for the color modes.</li>
<li>Added a transition effect when picking the color mode.</li>
<li>Fixed some bugs with going back on some levels.</li>
</ul>
<h4>v0.038:</h4>
<ul>
<li>Added two more palettes to select.</li>
<li>Fixed achievements progress not being saved.</li>
<li>Started working on the jellyfish AI.</li>
<li>More design work on the third sublevel area and started adding its music theme.</li>
<li>More design improvements on the new areas.</li>
<li>Added a few more sound effects.</li>
<li>More work on the cave sublevel area music.</li>
<li>Fixed issue with lever_platform animation.</li>
<li>More work on the cave sublevel music.</li>
<li>More work on Cave Sublevel area music.</li>
<li>Fixes to high-score threading issues on quit.</li>
<li>Implemented a new lever that calls for the platform when the platform has a lever as well.</li>
<li>Re-worked the music for the cave sublevel area, still WIP.</li>
</ul>
<h4>v0.037:</h4>
<ul>
<li>Achievements can have a hint that shows on the achievement screen.</li>
<li>More level design on the third sublevel area.</li>
<li>Highscore code now runs on its own thread.</li>
<li>Fixed issue with Venomteeth music.</li>
<li>More design improvements on the cave sub level area.</li>
<li>Connected the cave sublevel area with the third sublevel area.</li>
<li>Re-worked music on Bifurcation, Lava and Water and Venomteeth Nest areas.</li>
<li>Added a sound effect when Shawy is low on air.</li>
<li>Added a sound effect for the piranha bite.</li>
<li>Re-worked some of the sound effects.</li>
<li>Re-worked the music from MainMenu, Mountain, Cave Entrance and Lava Corridor areas.</li>
<li>More work on achievements.</li>
<li>Implemented work in progress achievements.</li>
<li>More work on the third sub-level area design.</li>
<li>More design work on the new areas.</li>
<li>Fixed bug with doors on mini-map.</li>
<li>Design improvements on cave sublevel area.</li>
<li>Improvements on worm AI.</li>
<li>Worms can't be attacked while hidden.</li>
<li>Venomteeth now will drop one sacred stone on death.</li>
<li>Avoid tutorial dialogs when on dev mode.</li>
<li>Added new jellyfish enemy.</li>
</ul>
<h4>v0.036:</h4>
<ul>
<li>Added new eye enemy, its AI still needs some improvements.</li>
<li>Added new worm enemy sprite-sheet.</li>
<li>Improvements on fonts code to handle unicode characters.</li>
<li>Updated Text Interface Engine code.</li>
<li>Updates to translations.</li>
<li>Added a few new lines of dialog for Venomteeth and his minions.</li>
<li>Fixed bug with Venomteeth damage area.</li>
<li>Adjusted phase timers for Venomteeth, battle will be more dynamic now.</li>
<li>Work in progress boss music for Venomteeth fight.</li>
<li>Started working on yet another level, really basic design only.</li>
<li>Fixed high-score screen not working on the Android version.</li>
<li>More cave_sublevel design.</li>
</ul>
<h4>v0.035:</h4>
<ul>
<li>Improvements on the high-scores screen.</li>
<li>Added a notification message when the high-score is created/updated for the player.</li>
<li>Fixed bug with map going away when switching areas, and stuck in loading bug after continue countdown reached to zero (thanks cadox8 for reporting).</li>
</ul>
<h4>v0.034:</h4>
<ul>
<li>Older save-games are not compatible with this version.</li>
<li>Added a simple credits menu, will improve it later.</li>
<li>More level design on the new area.</li>
<li>Work in progress new platform type for the new area.</li>
<li>Enemies are allowed to sleep when they're far from the player, saves cpu :).</li>
<li>Shortened the death animations on the enemies.</li>
<li>Speeded up a little Shawy's attack animation.</li>
<li>Camera improvements, disabled drag for the x axis and lowered the drag margin on the y axis.</li>
<li>More work on the Venomteeth Nest music.</li>
<li>Improvements on Venomteeth Nest music track.</li>
<li>Started adding a new enemy for the new level.</li>
<li>Added an arrow trap on the new level.</li>
<li>UI improvements.</li>
<li>Fixed bug when globalstats.io doesn't replies with an access token.</li>
</ul>
<h4>v0.033:</h4>
<ul>
<li>Improved difficulty note position.</li>
<li>Improved note display on new game menu.</li>
<li>Fixed UI bug and also started working on a new level.</li>
<li>Added easy mode and modified difficulty modes as follows: Easy mode has halved damage and continue for 5 coins, Normal mode has full damage and continue for 10 coins, Hardcore mode has full damage and can't continue.</li>
<li>Leaderboard data is updated when the game starts.</li>
<li>Fixed bug with hiding touch buttons on cut-scenes.</li>
<li>User high-scores are pretty much working now, it needs some improvements and more testing though.</li>
<li>Added a user name input screen after the new game menu, the user name will be used for high-score purposes.</li>
<li>More WIP code for high-scores.</li>
<li>Started working on a high-score screen.</li>
</ul>
<h4>v0.032:</h4>
<ul>
<li>Added a few more save positions on some areas.</li>
<li>Fixed selection arrow position.</li>
<li>Cutscene can be skipped while the npc is moving now.</li>
<li>Small bug fix.</li>
<li>Escape skips cut scenes.</li>
<li>Hide controls and fullscreen/window settings on touch devices.</li>
<li>Mini-map can be toggled on android devices tapping the top right section of the screen.</li>
<li>Hud elements will be hidden on the intro scene.</li>
<li>Added tutorial dialogs for the map and the menu for android devices.</li>
<li>Adjusted music files volume.</li>
<li>Added a second save area on cave entrance and mountain areas.</li>
<li>Shawy will now explain how to use the mini map function if not used by the player.</li>
<li>Mini-map can be toggled with M and Tab, and it's configurable on the controls menu.</li>
<li>Small bug fix.</li>
<li>Adjusted volume for CaveTheme and MainMenu, WIP.</li>
</ul>
<br/>
<h4>v0.031:</h4>
<ul>
<li>Menu will now show a maximum options of 5, if there are more options (like on the settings or the controls menus) there will be shown up/down arrows to determine that the are more options.</li>
<li>Game can be saved now using the menu (Esc while in-game) when standing on a save area.</li>
<li>Implemented variable jump height for Shawy (jumps higher the longer you keep pressing jump).</li>
<li>More work on translations.</li>
<li>Show save areas on map as well.</li>
<li>Map revealed areas are now saved/loaded from disk and on changing area.</li>
<li>Full-map position is centered on the player when is shown.</li>
<li>More work on translations.</li>
<li>Music and SFX volume default to 50% when game is first launched.</li>
<li>Shawy can look up or down while walking too now.</li>
<li>Adjusted the size of the mini map.</li>
<li>Pickup objects fade faster.</li>
<li>Fixed performance issues with mini-map and fixed a few issues with fog.</li>
<li>Added a shader for the mini map to fix the opacity.</li>
</ul>
<br/>
<h4>v0.030:</h4>
<ul>
<li>Implemented map fog.</li>
<li>Map improvements, pickups are shown on map as well.</li>
<li>Enemies are also shown in maps.</li>
<li>Many improvements to the maps.</li>
<li>Started implementing a full map script.</li>
<li>Mini-map bug fix.</li>
<li>Mini map improvements.</li>
<li>WIP mini map.</li>
<li>Removed the collision shape for the save area object.</li>
<li>Fixed a few issues with venomteeth damage area.</li>
<li>Fixed small issue with boss gate.</li>
<li>Added a few improvements on how Venomteeth jumps back to his platform.</li>
<li>Improvements on mountain and cave entrance level design, better learning curve.</li>
</ul>
<br/>
<h4>v0.029:</h4>
<ul>
<li>Android release stuff.</li>
<li>Lowered a bit the opacity for the touch screen buttons.</li>
<li>Improved placing of touch screen buttons.</li>
<li>Enabled Venomteeth Nest area.</li>
<li>Updated default_clear_color to darkest tone.</li>
<li>Fixed loading issue with fullscreen devices.</li>
<li>Added touchscreen buttons support.</li>
<li>Fixed delay before fade out when objects are picked up.</li>
</ul>
<br/>
<h4>Changelog (v0.025 to v0.028):</h4>
<ul>
<li>New area to explore.</li>
<li>Controls can be changed now, max of two inputs per action.</li>
<li>Bats will stop pursuing shawy when he has gone far.</li>
<li>This is a secret commit ;).</li>
<li>Shawy can hold air a bit longer under water.</li>
<li>Design improvements on several areas.</li>
<li>Fixed bug with spider web spell.</li>
<li>Fixed player facing bug after changing areas.</li>
<li>Shawy will explain how to lookup or down if the player doesn't use those commands.</li>
<li>Older savegames are incompatible now.</li>
<li>Separated key mapping from ui keys to in-game keys.</li>
<li>Joystick buttons are now assignable on the controls menu.</li>
<li>Implemented a new sprite for the save area.</li>
<li>Improved and extended music themes on several areas.</li>
<li>If the windowScale is not set, use the highest possible based off the screen size.</li>
</ul>
<br/>
<h4>Changelog (v0.023 to v0.024):</h4>
<ul>
<li>Fixed max attenuation distance for sample player on different resolutions.</li>
<li>Disabled fullscreen option until gets properly fixed on all OSes.</li>
<li>Added a SFX for the slime jump.</li>
<li>Fixed linux build not allowing to change resolutions.</li>
<li>Resolution can only be changed from main menu.</li>
<li>Window resolution will be changed instantly now, no need to restart anymore.</li>
<li>Fixed issue with platforms and jumping.</li>
<li>Fixed issue with collisions and platforms.</li>
<li>Lava will kill you always, even if just hit by something else.</li>
<li>Added an option to change text speed.</li>
<li>Dialogs will show faster now by default, enter will now first show the full text and then skip it.</li>
<li>Fixed bug with jumping and damage throwback.</li>
<li>Fixed issue with continue on some areas.</li>
</ul>
<br/>
<h4>Changelog (v0.019 to v0.022):</h4>
<ul>
<li>Fixed vertical glitch with vertical platforms.</li>
<li>Fixed window resolution setting.</li>
<li>Enemies will re-spawn after 4 mins (of game time) and only the first kill adds points to the score.</li>
<li>Fixed bug with movement on horizontal platforms.</li>
<li>New game mechanic, Shawy can look up or down using the up/down controls, jump is now assigned to button b (x or k key).</li>
<li>Shawy will now lose air when under water, and after all the air is gone he will start losing health.</li>
<li>Improved text SFX.</li>
<li>Hearts will re-spawn after 2 mins of being taken.</li>
<li>Coin will no longer reappear when changing to previous areas if it was previously taken.</li>
<li>Implemented a new font for the HUD, "Micro Full 6x3" by russelleh.</li>
<li>New logo for main menu.</li>
<li>Implemented fade in/out effects.</li>
<li>Added a new level.</li>
<li>Added a dialog when the player is near the gate for a while.</li>
</ul>
</div>
