						<div class="auto-resizable-iframe"><div><iframe frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/jmvX-lR8Ceg?rel=0&amp;showinfo=0"></iframe></div></div>
						<h3>Prototype demo available for Windows, Mac and Linux (64bit).</h3>
						<div class="download"><a href="https://shawyadventures.itch.io/shawy-adventures#download"><img src="/img/transparent.png"></a></div>
						<br/>
						<div class="information">
						<h3>- Check the:<a href="/changelog/">Changelog</a></h3>
						<h3>- Found a bug? Report via email here:<a href="mailto:shawyadventures@gmail.com?subject=Bug%20report">Report</a></h3>
						<h3>- Got some feedback? Post on tigsource forum:<a href="https://forums.tigsource.com/index.php?topic=59404.0">Link</a></h3>
						</div>
