						<div class="auto-resizable-iframe"><div><iframe frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/KSaKaO7ZHqg?rel=0&amp;showinfo=0"></iframe></div></div>
						<h3>Coming soon for Windows, Mac and Linux (64bit).</h3>
						<iframe class="steam-widget" src="https://store.steampowered.com/widget/755340/" frameborder="0" width="646" height="190"></iframe>
						<br/>
						<div class="information">
						<h3>- <a href="/presskit/">Presskit</a></h3>
						<h3>- Found a bug? Report via email here:<a href="mailto:shawyadventures@gmail.com?subject=Bug%20report">Report</a></h3>
						</div>
