						<div class="auto-resizable-iframe"><div><iframe frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/yYZDFW66DZE?rel=0&amp;showinfo=0"></iframe></div></div>
						<h3>Prototype demo available for Windows, Mac and Linux (64bit).</h3>
						<div class="download"><a href="https://shawyadventures.itch.io/shawy-adventures#download"><img src="/img/transparent.png"></a></div>
						<br/>
						<div class="information">
						<h3>- Check the:<a href="/changelog/">Changelog</a></h3>
						<h3>- Join the beta tester program:<a href="mailto:shawyadventures@gmail.com?subject=Beta%20tester%20program&body=I%20want%20to%20join%20the%20beta%20tester%20program!">Join!</a></h3>
						</div>
