
<section id="home">
<!-- Header -->
	<div class="intro-header">

		<div class="container">

			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message">
						<div class="logo"><img src="/img/logo.png"></img></div>
						<h3>{{ page.subTitle }}</h3>
						<div class="auto-resizable-iframe"><div><iframe frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/yYZDFW66DZE?rel=0&amp;showinfo=0"></iframe></div></div>
						<h3>Prototype demo available for Windows, Mac and Linux (64bit)</h3>
						<div class="download"><a href="https://shawyadventures.itch.io/shawy-adventures#download"><img src="/img/transparent.png"></a></div>
						<div class="buttons">
						<ul class="list-inline intro-social-buttons">
							<li class="facebook"><a href="https://facebook.com/shawyadventures"><img src="/img/transparent_icon.png"></a></li>
							<li class="twitter"><a href="https://twitter.com/ShawyAdventures"><img src="/img/transparent_icon.png"></a></li>
						</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
